In [11]:
#TASCA M3-1.1 
#Crea una función que dado un Array de una dimensión, te haga un resumen estadístico básico de los datos. 
#Si detecta que el array tiene más de una dimensión, debe mostrar un mensaje de error.

import numpy as np
valores = [1, 1, 1, 2, 66]
valores = np.array(valores)
np.sum(valores)
np.mean(valores)
np.median(valores)
np.min(valores)

1

In [ ]:
#TASCA M3-1.2

from random import randint

N = 7
M = 7

m = [[randint(1,100) for j in range(M)] for i in range(N)]

for f in m:
    print(f)

In [78]:
#TASCA M3-1.3
#Crea una función que dada una tabla de dos dimensiones (NxM), te calcule los totales por fila y los totales por columna.

#PRIMERA FORMA

matriz = [
    [1, 2, 6],
    [6, 9, 6],
    [7, 8, 9]
]

suma_filas = []

for f in matriz:
    suma_filas.append(sum(f))

print(suma_filas) 

suma_columnas = []

for i in matriz:
    suma_columnas.append(sum(i))

print(suma_columnas)

#SEGUNDA FORMA

def mostrar_matriz(matriz):
    for columna in matriz:
        print(columna)


matriz = [
    [25, 69, 51, 26],
    [68, 35, 29, 54],
    [54, 57, 45, 63],
    [61, 68, 47, 59]
]

mostrar_matriz(matriz)

filas = len(matriz)
columnas = len(matriz)

for f in range(columnas):
    suma = sum(matriz[f])
    matriz[f].append(suma)

print()

mostrar_matriz(matriz)

[9, 21, 24]
[9, 21, 24]
[25, 69, 51, 26]
[68, 35, 29, 54]
[54, 57, 45, 63]
[61, 68, 47, 59]

[25, 69, 51, 26, 171]
[68, 35, 29, 54, 186]
[54, 57, 45, 63, 219]
[61, 68, 47, 59, 235]

In [80]:
#TASCA M3-1.4
#Implementa manualmente una función que calcule el coeficiente de correlación. Infórmate sobre sus usos e interpretación.

import numpy as np 
from scipy import stats 
import pandas as pd 

np.random.seed(2133) #al implementar la semilla, los datos van a hacer los mismos
datos = np.random.randn(5, 4) # datos normalmente distribuidos
datos
np.corrcoef(datos)

# calculando la correlación entre dos vectores.
np.corrcoef(datos[0], datos[1])

#array([[1.        , 0.19971306],
# [0.19971306, 1.        ]])

#del resultado obtenido se observa que tiene una baja relación de correlación; es decir, las variables dependientes no 
#estan tan influenciadas por las variables independientes

array([[1.        , 0.19971306],
       [0.19971306, 1.        ]])

In [10]:
#TASCA M3-2.1
#Descarga el fecha siete Airlines Delay: Airline on-time statistics and delay causas y cárgalo en un Pandas Dataframe.
#Explora los datos que contiene, explica brevemente qué variables existen y queda únicamente con las columnas que 
#consideres relevantes. Justifica tu elección.

#Cargar la Data
#--------------------------

import pandas as pd

datos = pd.read_csv('C:/Users/HP/Documents/DelayedFlights.csv', header = None)
print(datos.head())


# Reducción de Registros:
#--------------------------
datos2=datos.drop(datos.index[:1736758])

print(datos2)

# Selección de columnas:
#--------------------------
#se eliminan las columnas que tienen el mismo valor para todos los datos; 
#como por ejemplo, Year(todos corresponden al año 2008), las variables que existen corresponden a la información acerca de los vuelos

datos2.iloc[:, [0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29] ]

C:\Users\HP\AppData\Local\Temp\ipykernel_7332\2678817651.py:11: DtypeWarning: Columns (1,2,3,4,5,6,7,8,10,12,13,14,15,16,19,20,21,22,24,25,26,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  datos = pd.read_csv('C:/Users/HP/Documents/DelayedFlights.csv', header = None)

    0     1      2           3          4        5           6        7   \
0  NaN  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime
1  0.0  2008      1           3          4   2003.0        1955   2211.0
2  1.0  2008      1           3          4    754.0         735   1002.0
3  2.0  2008      1           3          4    628.0         620    804.0
4  4.0  2008      1           3          4   1829.0        1755   1959.0

           8              9   ...      20       21         22  \
0  CRSArrTime  UniqueCarrier  ...  TaxiIn  TaxiOut  Cancelled
1        2225             WN  ...     4.0      8.0          0
2        1000             WN  ...     5.0     10.0          0
3         750             WN  ...     3.0     17.0          0
4        1925             WN  ...     3.0     10.0          0

                 23        24            25            26        27  \
0  CancellationCode  Diverted  CarrierDelay  WeatherDelay  NASDelay
1                 N         0           NaN           NaN       NaN
2                 N         0           NaN           NaN       NaN
3                 N         0           NaN           NaN       NaN
4                 N         0           2.0           0.0       0.0

              28                 29
0  SecurityDelay  LateAircraftDelay
1            NaN                NaN
2            NaN                NaN
3            NaN                NaN
4            0.0               32.0

[5 rows x 30 columns]
                0     1   2   3  4       5     6       7     8   9   ...  \
1736758  6478917.0  2008  12   7  7  2049.0  2035  2229.0  2220  WN  ...
1736759  6478921.0  2008  12   7  7  1139.0  1130  1422.0  1420  WN  ...
1736760  6478922.0  2008  12   7  7  2121.0  2100  2356.0  2345  WN  ...
1736761  6478924.0  2008  12   7  7  1346.0  1340  1426.0  1430  WN  ...
1736762  6478938.0  2008  12   7  7  1258.0  1250  1518.0  1510  WN  ...
...            ...   ...  ..  .. ..     ...   ...     ...   ...  ..  ...
1936754  7009710.0  2008  12  13  6  1250.0  1220  1617.0  1552  DL  ...
1936755  7009717.0  2008  12  13  6   657.0   600   904.0   749  DL  ...
1936756  7009718.0  2008  12  13  6  1007.0   847  1149.0  1010  DL  ...
1936757  7009726.0  2008  12  13  6  1251.0  1240  1446.0  1437  DL  ...
1936758  7009727.0  2008  12  13  6  1110.0  1103  1413.0  1418  DL  ...

           20    21 22 23 24   25    26    27   28    29
1736758   5.0  11.0  0  N  0  NaN   NaN   NaN  NaN   NaN
1736759   4.0  12.0  0  N  0  NaN   NaN   NaN  NaN   NaN
1736760   3.0  10.0  0  N  0  NaN   NaN   NaN  NaN   NaN
1736761   4.0  11.0  0  N  0  NaN   NaN   NaN  NaN   NaN
1736762   7.0  11.0  0  N  0  NaN   NaN   NaN  NaN   NaN
...       ...   ... .. .. ..  ...   ...   ...  ...   ...
1936754   9.0  18.0  0  N  0  3.0   0.0   0.0  0.0  22.0
1936755  15.0  34.0  0  N  0  0.0  57.0  18.0  0.0   0.0
1936756   8.0  32.0  0  N  0  1.0   0.0  19.0  0.0  79.0
1936757  13.0  13.0  0  N  0  NaN   NaN   NaN  NaN   NaN
1936758   8.0  11.0  0  N  0  NaN   NaN   NaN  NaN   NaN

[200001 rows x 30 columns]

,0,2,3,4,5,6,7,8,9,10,...,18,19,20,21,24,25,26,27,28,29
1736758,6478917.0,12,7,7,2049.0,2035,2229.0,2220,WN,1395,...,MDW,989,5.0,11.0,0,NaN,NaN,NaN,NaN,NaN
1736759,6478921.0,12,7,7,1139.0,1130,1422.0,1420,WN,1533,...,MHT,1142,4.0,12.0,0,NaN,NaN,NaN,NaN,NaN
1736760,6478922.0,12,7,7,2121.0,2100,2356.0,2345,WN,3516,...,MHT,1142,3.0,10.0,0,NaN,NaN,NaN,NaN,NaN
1736761,6478924.0,12,7,7,1346.0,1340,1426.0,1430,WN,109,...,MSY,550,4.0,11.0,0,NaN,NaN,NaN,NaN,NaN
1736762,6478938.0,12,7,7,1258.0,1250,1518.0,1510,WN,2918,...,PIT,834,7.0,11.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936754,7009710.0,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,ATL,906,9.0,18.0,0,3.0,0.0,0.0,0.0,22.0
1936755,7009717.0,12,13,6,657.0,600,904.0,749,DL,1631,...,ATL,481,15.0,34.0,0,0.0,57.0,18.0,0.0,0.0
1936756,7009718.0,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,IAH,689,8.0,32.0,0,1.0,0.0,19.0,0.0,79.0
1936757,7009726.0,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,ATL,533,13.0,13.0,0,NaN,NaN,NaN,NaN,NaN
1936758,7009727.0,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,ATL,874,8.0,11.0,0,NaN,NaN,NaN,NaN,NaN

In [20]:
#TASCA M3-2.2
#Resume estadísticamente el dataset y las columnas de interés. Haz un análisis estadístico de lo que consideres relevante.

datos2.shape
datos2.info()
datos2.describe()

#Encuentra cuántos datos faltantes hay por columna.

miss_datos2 = datos2.isnull().sum(min_count=1)
miss_datos2 = miss_datos2[miss_datos2 != 0]
#Haz una mesa de las aerolíneas con mayores retrasos acumulados.

datos2[15]
datos2[15].value_counts()

#¿Cuáles son los vuelos más largos? ¿Y los más atrasados? Busca las rutas más largas y las que acumulen más retrasos.
#ruta más larga
datos2[19].value_counts()

#vuelos más retrasados
datos2[27].value_counts()

0.0      61904
2.0       3689
1.0       3608
3.0       3374
4.0       3339
         ...
403.0        1
593.0        1
476.0        1
533.0        1
429.0        1
Name: 27, Length: 417, dtype: int64

In [ ]:
#TASCA M3-2.3
#Exporta el dataset limpio y con las nuevas columnas a Excel.
datos2.to_excel("datos2.xlsx", index=False)